<!--
  Copyright [2023] [Coordinated Chaos]
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title> <%= i18n.__("AddPoint") %></title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script type="text/javascript" src="/utils.js" defer></script>
        <script type="text/javascript" src="/addpoi.js" defer></script>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3 class="text-center"> <%= i18n.__("AddPoint") %></h3>
                        </div>
                        <div class="card-body">
                            <form id="addPoiForm">
                                <div class="mb-3">
                                    <label for="name" class="form-label"
                                        > <%= i18n.__("Name") %></label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="name"
                                        name="name"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="type" class="form-label"
                                        > <%= i18n.__("Type") %></label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="type"
                                        name="type"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="country" class="form-label"
                                        > <%= i18n.__("Country") %></label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="country"
                                        name="country"
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="region" class="form-label"
                                        > <%= i18n.__("Region") %></label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="region"
                                        name="region"
                                    />     
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="lat" class="form-label"
                                            > <%= i18n.__("lat") %></label
                                        >
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="lat"
                                            name="lat"
                                            step="any"
                                        />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="lon" class="form-label"
                                            > <%= i18n.__("lon") %></label
                                        >
                                        <input
                                            type="number"
                                            class="form-control"
                                            id="lon"
                                            name="lon"
                                            step="any"
                                        />
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="description" class="form-label"
                                        > <%= i18n.__("Description") %></label
                                    >
                                    <textarea
                                        class="form-control"
                                        id="description"
                                        name="description"
                                        rows="4"
                                    ></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="image" class="form-label"
                                        ><%= i18n.__("Image") %></label
                                    >
                                    <input
                                        type="file"
                                        class="form-control"
                                        id="image"
                                        name="image"
                                        accept=".jpg, .jpeg"
                                    />
                                    <small class="form-text text-muted">
                                        <%= i18n.__("PUOJI") %>
                                    </small>
                                <div class="text-center">
                                    <button
                                        type="submit"
                                        id="ADD POI"
                                        class="btn btn-primary"
                                    >
                                    <%= i18n.__("Add") %>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
