<!--
  Copyright [2023] [Coordinated Chaos]
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= i18n.__("Pois") %></title>
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        />

        <script type="text/javascript" src="/utils.js" defer></script>
        <script type="text/javascript" src="/allpois.js" defer></script>
    </head>
    <body>
        <div id="pois_results">
            <div class="card-header bg-primary text-white">
                <h3 class="text-center"><%= i18n.__("Pois") %></h3>
            </div>
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th><%= i18n.__("Name") %></th>
                            <th><%= i18n.__("Type") %></th>
                            <th><%= i18n.__("Country") %></th>
                            <th><%= i18n.__("Region") %></th>
                            <th><%= i18n.__("Longitude") %></th>
                            <th><%= i18n.__("Latitude") %></th>
                            <th><%= i18n.__("Description") %></th>
                            <th><%= i18n.__("Username") %></th>
                        </tr>
                    </thead>
                    <tbody id="TableBody">
                        <!-- Table rows will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </div>
        <%- include('footer.ejs') %>
    </body>
</html>
