<!--
  Copyright [2023] [Coordinated Chaos]
 
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
 
      http://www.apache.org/licenses/LICENSE-2.0
 
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<!doctype html>
<html >
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= i18n.__("Profile") %></title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script type="text/javascript" src="/utils.js" defer></script>
        <script type="text/javascript" src="/updateuser.js" defer></script>
    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header bg-primary text-white">
                            <h3 class="text-center"><%= i18n.__("Profile") %></h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label for="username" class="form-label"
                                        ><%= i18n.__("Username") %></label
                                    >
                                    <input
                                        type="text"
                                        class="form-control"
                                        id="username"
                                        name="username"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label"
                                        ><%= i18n.__("Email") %></label
                                    >
                                    <input
                                        type="email"
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label"
                                        ><%= i18n.__("NewPassword") %></label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="NewPassword"
                                        name="password"
                                        required
                                    />
                                </div>
                                <div class="mb-5">
                                    <label for="password2" class="form-label"
                                        ><%= i18n.__("ConfirmPassword") %></label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="ConfirmNewPassword"
                                        name="password"
                                        required
                                    />
                                </div>
                                <div class="mb-3">
                                    <label for="password" class="form-label"
                                        ><%= i18n.__("CurrentPassword") %></label
                                    >
                                    <input
                                        type="password"
                                        class="form-control"
                                        id="Password"
                                        name="password"
                                        required
                                    />
                                </div>
                                <div class="text-center mb-3">
                                    <button
                                        id="UPDATE USER"
                                        class="btn btn-primary"
                                    >
                                    <%= i18n.__("UpdtDtls") %>
                                    </button>
                                    <button
                                        id="DELETE USER"
                                        class="btn btn-danger"
                                    >
                                    <%= i18n.__("DltPass") %>
                                    </button>
                                    <button
                                        id="LOGOUT USER"
                                        class="btn btn-primary"
                                    >
                                    <%= i18n.__("Logout") %>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.7.2/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>
