<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= i18n.__("Geo Guide User Documentation") %></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>

<body>
    
    <nav class="navbar navbar-dark bg-primary">
        <h1><%= i18n.__("Geo Guide User Documentation") %></h1>
    </nav>

    <div class="container mt-3">
        <p>
            <%= i18n.__("Welcome Message") %>
        </p>

        
        <h2><%= i18n.__("Table of Contents")</h2>
        <ol>
            <li><a href="#getting-started"><%= i18n.__("Getting Started")</a>
                <ul>
                    <li><a href="#account-registration"><%= i18n.__("Account Registration")</a></li>
                    <li><a href="#login"><%= i18n.__("Login")</a></li>
                    <li><a href="#logout"><%= i18n.__("Logout")</a></li>
                    <li><a href="#delete-account"><%= i18n.__("DltAcc")</a></li>
                </ul>
            </li>

            <li><a href="#exploring-geo-guide"><%= i18n.__("Exploring Geo Guide")</a>
                <ul>
                    <li><a href="#viewing-points-of-interest"><%= i18n.__("Viewing Points of Interest")</a></li>
                    <li><a href="#searching-for-pois"><%= i18n.__("Searching for POIs")</a></li>
                </ul>
            </li>

            <li><a href="#adding-your-points-of-interest"><%= i18n.__("Adding Your Points of Interest")</a>
                <ul>
                    <li><a href="#adding-a-point-of-interest"><%= i18n.__("Adding a Point of Interest")</a></li>
                    <li><a href="#updating-and-deleting-pois"><%= i18n.__("Up and Del")</a></li>
                </ul>
            </li>

            <li><a href="#managing-your-geo-guide-account"><%= i18n.__("Manage Your Account")</a>
                <ul>
                    <li><a href="#user-profile"><%= i18n.__("User Profile")</a></li>
                    <li><a href="#change-password"><%= i18n.__("Change Password")</a></li>
                    <li><a href="#logout-from-profile-page"><%= i18n.__("Logout from your profile")</a></li>
                </ul>
            </li>
        </ol>

        <!-- Sections -->

        <h2 id="getting-started">1. Getting Started</h2>

        <h3 id="account-registration">Account Registration</h3>
        <p>
            To begin your Geo Guide journey, register for an account:
        </p>
        <ol>
            <li>Click on the "Sign Up" or "Register" link.</li>
            <li>Provide the necessary registration details, including a unique username and a secure password.</li>
            <li>Accept the privacy policies to proceed.</li>
        </ol>

        <h3 id="login">Login</h3>
        <p>
            Already have an account? Here's how to log in:
        </p>
        <ol>
            <li>Click on the "Log In" link.</li>
            <li>Enter your username and password.</li>
            <li>Click the "Log In" button.</li>
        </ol>

        <h3 id="logout">Logout</h3>
        <p>
            When you're ready to sign out:
        </p>
        <ol>
            <li>Visit your profile page by clicking on the "Profile" button.</li>
            <li>Click on "Logout" to end your session.</li>
        </ol>

        <h3 id="delete-account">Delete Account</h3>
        <p>
            To delete your Geo Guide account:
        </p>
        <ol>
            <li>Visit your profile page by clicking on the "Profile" button.</li>
            <li>Click on "Delete Account" and confirm your action.</li>
            <li>Your account will be permanently deleted.</li>
        </ol>

        <h2 id="exploring-geo-guide">2. Exploring Geo Guide</h2>

        <h3 id="viewing-points-of-interest">Viewing Points of Interest</h3>
        <p>
            Explore exciting points of interest displayed on the interactive map. Click on markers to reveal more details about each location.
        </p>

        <h3 id="searching-for-pois">Searching for POIs</h3>
        <p>
            Use the search feature to find points of interest in specific regions. Enter the region name and discover fascinating places waiting to be explored.
        </p>

        <h2 id="adding-your-points-of-interest">3. Adding Your Points of Interest</h2>

        <h3 id="adding-a-point-of-interest">Adding a Point of Interest</h3>
        <p>
            Share your favorite spots with the Geo Guide community:
        </p>
        <ol>
            <li>Click on the map to select a location.</li>
            <li>Fill in the details in the "Add a Point Of Interest" form.</li>
            <li>Click "Go" to add your POI to the map.</li>
        </ol>

        <h3 id="updating-and-deleting-pois">Updating and Deleting POIs</h3>
        <p>
            Manage your POIs with ease:
        </p>
        <ul>
            <li><strong>Update:</strong> Click "Update" next to a POI to modify its details.</li>
            <li><strong>Delete:</strong> Click "Delete" to remove a POI from your collection.</li>
        </ul>

        <h2 id="managing-your-geo-guide-account">4. Managing Your Geo Guide Account</h2>

        <h3 id="user-profile">User Profile</h3>
        <p>
            Access and edit your user profile:
        </p>
        <ol>
            <li>Visit your profile page by clicking on the "Profile" button.</li>
            <li>Update your username, email, and other details as needed.</li>
        </ol>

        <h3 id="change-password">Change Password</h3>
        <p>
            Keep your account secure by changing your password:
        </p>
        <ol>
            <li>Visit the "Change Password" section in your profile.</li>
            <li>Enter your current password and the new desired password.</li>
            <li>Save changes to update your password.</li>
        </ol>

        <h3 id="logout-from-profile-page">Logout from Profile Page</h3>
        <p>
            To logout from your profile page:
        </p>
        <ol>
            <li>Click on the "Logout" button on your profile page.</li>
            <li>Confirm your action